<div class="page">
    <header class="header">
        <img [src]="logo" width=60 height=60 align="left" style = "padding-left:30px">
        <h1>King Flyer AirLines</h1>
        <h5 align="left">The Royal Bird with Golden Wings</h5></header>
      <div class="topnav" style="background-color:orange">
        <a [routerLink] = '"/welcome"' style = "float:left">Welcome</a>
        <a [routerLink] = '"/updates"' style = "float:left">Updates</a>
        <a [routerLink] = '"/covid"' style = "float : left">COVID Disclaimer</a>
        <a [routerLink] = '"/register"'>SignUp</a>
        <a [routerLink] = '"/viewflights"'>View Flights</a>
        <a [routerLink] = '"/bookflight"'>Book Ticket</a>
      </div>
      
        <footer class="footer" style = "size:16px;margin-top: 380px;">
            <marquee><b style = "font-size : 20px">World’s safest airline, world’s most personal service.</b></marquee>
        </footer>

    </div>